.profile__div {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    width: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .profile__info__box {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.profile__info__p {
    font-size: 16px;
    margin-top: 0;
    margin-left: 1rem;
  }
  
  .profile__info__label {
    color: var(--colorPrimaryActive);
    font-weight: 500;
    margin-top: 4vh;
    margin-left: 30%; 
    width: 40%;
}

.profile__edit__holder {
    margin-left: 75%;
    margin-right: auto;
    text-align: left;
    justify-content: left;
    width: 15%;
    display: flex;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.profile__table__div {
    overflow: auto;
    border: 2px solid #f1f1f1;
    margin: auto;
    max-height: 40vh;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    width: 96%;
}